<h2>Create cart</h2>

<form  id="cartForm">
    <select name="select" id="products">
    {{#each products}}
    <option value={{this.id}}>{{this.title}}</option>
    {{/each}}
    </select>
    <input id="addProduct" type="button"  value="Add Product">
    <input  type="submit" value="Create Cart">
</form>
<h3>Selected products <span id="selectedProductsQuantity">0</span></h3>
<div id="currentCarts">
    {{#each carts}}
    {{#with this as |cart|}}
    <div class="cart" id="cart_{{cart.id}}">
        {{#each cart.products}}
            <h3>{{this.title}}: {{this.quantity}}</h3>
        {{/each}}
        <h4>Price:{{cart.price}}</h4>
    </div>
    {{/with}}
    {{/each}}
</div>
